* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    overflow-y: hidden;
    flex-wrap: nowrap;
    background-color: #fafafa;
}
