.btn {
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

/* Variants */
.btn.default {
    background: #ddd;
    color: black;
}

.btn.default:hover {
    background: #ccc;
}


.btn.reset {
    background: #ff4d4d;
    color: white;
}

.btn.reset:hover {
    background: #ff1a1a;
}

.btn.submit {
    background: #4caf50;
    color: white;
}

.btn.submit:hover {
    background: #3d8b41;
}