#grid {
    display: grid;
    grid-template-rows: repeat(var(--rows), 20px);
    grid-template-columns: repeat(var(--cols), 20px);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid var(--line_color);
    /* border: 1px solid black; */
    background-color: var(--color);
    /* background-color: var(--color); */
}
